#t1 {
    margin: 0px;
    color: rgb(0, 140, 255);
    padding: 30px;
    border: 4px rgb(1, 12, 12) solid
}
#t2 {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    color: rgb(0, 140, 255);
    padding: 30px;
    border: 4px rgb(1, 12, 12) solid
}
.fundo {
    background-color: rgb(112, 228, 58);
}
.fundo2 {
    background-color: rgb(238, 235, 34);
}