html body {
    margin: 0px;
}
#t1 {
    margin: 1px;
    color: rgb(2, 5, 8);
    padding-bottom: 33px;
    border: 4px rgb(1, 12, 12) solid
}
#linha1{
    margin: 1px;
    color: rgb(2, 5, 8);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}
#linha2{
    margin: 1px;
    color: rgb(2, 5, 8);
    padding: 5px;
    padding-left: 20px;
}
#linha3{
    margin: 1px;
    color: rgb(2, 5, 8);
    padding-bottom:20px;
    padding-left: 20px;
}
#t2 {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    color: rgb(0, 140, 255);
    padding: 30px;
    border: 4px rgb(186, 201, 201) solid
}
.fundo {
    background-color: rgb(122, 211, 184);
}
.fundo2 {
    background-color: rgb(233, 233, 227);
}
#imagemfundo {
    margin-top: 5px;
    margin-left: 200px;
    margin-right: 200px;
    background: url(imagens/imagem1.1.png);
    height: 95%;
    text-align: center;
    color: rgb(242, 247, 247);
    font-size: 30px;
}
#acao {
    color: rgb(243, 147, 21);
    border: 2px solid;
    padding: 5px;
}
#servicos {
    margin-left: 20px;
    color: rgb(15, 15, 15);
    border: 2px solid;
    padding: 3px;
}
